<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="https://mpi.moulvibazar.gov.bd/">MPIL</a>
    <!-- Sidebar Toggle-->
     
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <div style="width: 1200px;"></div>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
       <div style="font-size: 30px;">
            <a href="{% url 'loan_create' %}">
                <i class="fas fa-shopping-cart"></i>
            </a>
        </div>
        
        
        <li class="nav-item dropdown">
            
            <a class="nav-link dropdown-toggle d-flex align-items-center" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                
                {% if user.is_authenticated %}
                {% if user.image %}
            <img src="{{ user.image.url }}" class="rounded-circle" width="30" height="30" alt="Profile Picture">
            {% else %}
                <img src="/media/difult_img/মৌলভীবাজার-পলিটেকনিক-ইনস্টিটিউট.jpg" class="rounded-circle" width="30" height="30" alt="Default Profile Picture">
            {% endif %}
            
                    <span class="ms-2">{{ user.name }}</span>
                {% else %}
                    <i class="fas fa-user fa-fw"></i>
                {% endif %}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'profile_view' %}">Profile</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="{% url 'logout_view' %}">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>
