<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading"></div>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard' %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                </li>


                {% if user.user_type == 'LIB' or user.user_type == 'ADM' %}
                
                <a class="nav-link" href="{% url 'all_users' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    Members
                </a>
            {% endif %}
                <a class="nav-link" href="{% url 'author_list' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>  <!-- Icon for Authors -->
                    Authors
                </a>
                <a class="nav-link" href="{% url 'book_list' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-book"></i></div>  <!-- Icon for Books -->
                    Books
                </a>
                {% if user.user_type == 'LIB' or user.user_type == 'ADM' %}
                <a class="nav-link" href="{% url 'loan_list' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-book"></i></div>  <!-- Icon for Books -->
                    Orders
                </a>
                {% endif %}
                <a class="nav-link" href="{% url 'category_list'%}">
                    <div class="sb-nav-link-icon"><i class="fas fa-tags"></i></div>  <!-- Icon for Category -->
                    Category's
                </a>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'youtube_search' %}">
                    <div class="sb-nav-link-icon">
                        <i class="fab fa-youtube"></i> 
                      </div>
                      YouTube
                </a>
            </li>
                <a class="nav-link" href="{% url 'wikipedia_search' %}">
                    <div class="sb-nav-link-icon">
                        <i class="fab fa-wikipedia-w"></i>
                    </div>
                    Wikipedia
                </a>
                <a class="nav-link" href="{% url 'google_books_search' %}">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-book"></i> 
                    </div>
                    Google Books
                </a>
                <a class="nav-link" href="{% url 'contact' %}">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-phone"></i> 
                    </div>
                    Contact
                </a>
                
            </div>
        </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    <span class="ms-2">{{ user.name }}</span>
                </div>
            </nav>
        </div>